body {
    background-color: grey;
}
.todo-item {
    border: 1px solid black;
    margin-top: 20px;
    padding: 10px;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    width: 300px;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.884);
}
#content {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
}
#inputsField {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column wrap;
}